@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --bg-color: rgb(171, 227, 58);
    --link-color:white;
}
body{    
    font-family: 'Poppins', sans-serif;


}
header>h1{
    padding: 1em;
    font-size:2em;

}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color:black;
    font-weight: 50;
    font-size: 1rem;;
}
nav{display: flex;
    
    color:var(--link-color);
    justify-content: center;
    background-color: var(--bg-color);
    padding: .75em;
    
}
nav>ul{
    display:flex;
    gap:2em;
    
}
.salutation{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    padding: 1em;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    margin-top: 2em;
    
}
main>*{
    /* border: 2px solid black; */
    width: 80%;
    padding: 1.5em;
    border-radius: 30px;
    background-color: var(--bg-color);
    /* color:var(--link-color) */
    text-align: start;
}
.sub_hero:first-child{
    margin-left: 2em;
    
}
.sub_hero:last-child{

    grid-column-start: 2;
    grid-row-start: 2;
    grid-column-end: 4;
    grid-row-end: 4;
}
.sub_hero>h1{
    padding: .5em;
    padding-bottom: 2em;
}
footer{
    background-color: black;
    color: white;
    font-size: 1.1rem;
    padding :4em 2em;
    margin-top: 2em;
    
}
.hero{
    margin-top: 2em;
    display: flex;
    gap: 1.5em;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    
}
.hero>*{
    width: 80%;
    /* min-height: 15em; */
    padding: 1.5em;
    border-radius: 30px;
    background-color: var(--bg-color);

}
.box>h2{
    text-align: center;
    padding-bottom: 1em;
}
.box{
    padding: 1em;
    padding-left: 2em;
    padding-bottom: 2em;
    line-height: 2em;
    font-size: 1.2rem;
}
/* .box>p{
    padding: 5em;
} */


footer>*{
    line-height: 2.5em;
}
.footer_info:first-child{
    text-align: center;
}